.small{
    font-size: 0.60em;
}

.bold{
    font-weight: bold;
}
.contenido{
    font-size:0.7em;
    font-style: oblique;
    color:#480091;
}
header {
    color: white;
    /*background: #5b6151;*/
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    padding: 20px;
    background: brown;
    color: white;
    min-height: 20px;
}

h2 {
    font-weight: bold;
    color: navy;
    font-size:1.3em;

    text-align: center;
}

footer {
    color: white;
    background: #554A13;
}

.container {
    display: flex;
    flex-direction: column;
}

.container1 {
    display: flex;
    flex-direction: row;

}

.container2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 2;
}

footer, header, .listado, .enunciado, .ejecucion {
    border-radius: 5px;
    margin: 2px;
}

.listado, .enunciado, .ejecucion {
    padding: 10px;
    background: aqua;
}

.listado {
    flex-basis: 30%;
    background: #eee;
    margin: 0px;
    margin-left: 2px;
    min-height:350px;
    font-size: 1em;
}
.tema{
    margin-left: -30px;
    padding: 10px;
    font-size: 1.1em;
    color:blue;
    font-weight: bold;
    text-decoration: underline blue;
}

.enunciado {
    flex-basis: 60%;
    min-height:100px;
    background: lightsteelblue;
    font-size:1.9em;

}

.ejecucion {
    flex-basis: 60%;
    min-height:400px;
    background: lightsteelblue;

}
a.menu{
    color:darkmagenta;
    font-weight: bold;
    font-size:2em;
    text-transform: uppercase;
    margin:20px
}

/*Para pantallas pequeÃ±as pendiente de apaÃ±ar*/
@media all and(max-width: 640px) {
    .container1 {
        flex-flow: column;
        max-height: 50px;
        max-height: 50px;
    }
}
fieldset{
    width: 50%;
    margin: 30px;
    background: #ddf0a4;
}
legend{
    font-size: 1.5em;
    color:darkblue;
}
input[text]{
    font-size: 1.2em;
    color:#0D580F;
}
input[submit]{
    font-size: 1.3em;
    color:crimson;
}